.app {

    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 100px;

    &__charts {
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
        flex-direction: row;
        width: 100%;
    }
}