.chart {
    width: 100%;
}

.custom-tooltip {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    p {
        margin: 0;
        padding: 0;
        line-height: 1.5;

        &:not(:last-child) {
            margin-bottom: 5px;
        }
    }
}

.card-footer {
    &__stats {
        &__info {
            font-weight: bold;

            &__value {
                color: #1976d2;
                font-size: 2em;
            }
        }
    }
}